<div class="container bg-light mt-4">
  <div class="row">
    <div class="col-9 m-auto p-4">
      <form [formGroup]="formGroupProduct" class="p-4">
        <h2 class="text-center">CADASTRAR PRODUTO</h2>
        <div class="row justify-items-center mt-4">
          <div class="col-12">
            <label for="nome">Nome</label>
            <input formControlName="nome" id="nome" name="nome" type="text" class="form-control" />
            <small *ngIf="enviado && nome.hasError('required')" class="text-danger">
              *O campo é obrigatório
            </small>
            <small *ngIf="enviado && nome.hasError('minlength')" class="text-danger">
              *O nome precisa ter no mínimo 3 caracteres
            </small>
          </div>
        </div>
        <label class="mt-4" for="descricao">Descrição</label>
        <textarea
          class="w-100"
          name="descricao"
          id="descricao"
          rows="4"
          formControlName="descricao"
        ></textarea>
        <small *ngIf="enviado && descricao.hasError('required')" class="text-danger">
          *O campo é obrigatório
        </small>
        <small *ngIf="enviado && descricao.hasError('minlength')" class="text-danger">
          *A descrição precisa ter no mínimo 10 caracteres
        </small>
        <div class="row mt-4 justify-content-center">
          <div class="col-6">
            <label for="preco">Preço</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">R$</span>
              </div>
              <input
                type="number"
                min="0"
                id="preco"
                name="preco"
                class="form-control"
                formControlName="preco"
              />
              <div class="input-group-append">
                <span class="input-group-text">,00</span>
              </div>
            </div>
            <small *ngIf="enviado && preco.hasError('required')" class="text-danger">
              *O campo é obrigatório
            </small>
          </div>
          <div class="col-6">
            <label for="qtd">Quantidade</label>
            <input
              id="qtd"
              name="qtd"
              type="number"
              min="0"
              class="form-control"
              formControlName="qtd"
            />
            <small *ngIf="enviado && qtd.hasError('required')" class="text-danger">
              *O campo é obrigatório
            </small>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-block btn-success mb-3 container-fluid mt-4"
          (click)="save()"
        >
          Cadastrar
        </button>
      </form>
      <h3 class="mt-4 text-center">Produtos</h3>
      <table class="table mt-5 table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço (R$)</th>
            <th scope="col">Quantidade</th>
            <th scope="col" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.nome }}</td>
            <td>{{ product.descricao }}</td>
            <td>{{ product.preco }}</td>
            <td>{{ product.qtd }}</td>
            <td class="d-flex justify-content-center">
              <button type="button" class="btn btn-danger me-2" (click)="delete(product)">Remover</button>
              <button type="button" class="btn btn-primary" (click)="edit(product)">Alterar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
